        header {
            background-color: #000000;
        }
        .logo {
            display: flex;
            flex: 1px 1px 0;
            border-radius: 10px;
            height: 10%;
        }
        #main {
            background-color: #1D2329;
        }
        #headline {
            background-color: #1D2329;
            color: white;
            display: flex;
        }
        .col-lg-5 {
            background-color: #181818;
        }
        .lightgray {
            background-color: lightgray;
        }
        footer {
            background-color: #000000;
        }
        .cols {
            display: flex;
            justify-content: space-between;
            background-color: #181818;
            padding: 0.5rem;
            flex-wrap: wrap;
        }
        .colorFont {
            color: white;
            width: 100%;
        }
        button {
            background-color: #181818;
            color: #08D701;
            border-radius: 35%;
            font-size: 100%;
            width: 35%;
        }
        .thumbup {
            width: 25%;
            margin: 0;
        }
        .count {
            background-color: #08D701;
            border-radius: 50px;
            border-color: black;
            font-size: 100%;
            padding-left: 1.5%;
            padding-right: 1.5%;
            width: 55%;
        }
        .description {
            text-align: left;
            column-count: 2;
            font-size: 125%;
        }
        .like-button{
            text-align: right;
            margin: 0;
            vertical-align: baseline;
        }